{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div id="indexTable">
    <table class="table"id="inventory">
        <thead>
            <tr class="topRow">
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Buy</th>
                <th>Sell</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
            <tbody id="test">
            {% if inventory is not none %}
            <!-- Loop through the database entries to display them in this table -->
            {% for item in inventory %}
                <tr>
                <td> {{ item.symbol }} </td>
                <td> {{ item.company }} </td>
                <td> {{ item.shares }} </td>
                <td>
                    <form id="form-id" action="/" method="post">
                    <input type="hidden" name="symbol" value="{{ item.symbol }}" />
                    <input type="hidden" name="price" value="{{ item.price }}" />
                     <input type='submit' name="action" value="+" />
                </td>
                <td>
                     <input type='submit' name="action" value="-" />
                    </form>
                </td>
                <td> {{ item.price | usd }} </td>
                <td> {{item.total | usd}} </td>
                </tr>
            {% endfor %}
            {% endif %}
            <tr class="rows" >
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <b>Cash</b> </td>
                <td>{{ cash | usd}}</td>
            </tr>
            <tr class="bottomRow">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <b> Total </b> </td>
                <td>{{ total | usd }}</td>
            </tr>
            </tbody>
    </table>
</div>

{% endblock %}

<!--Symbol	Shares	Current price per share-->
<!--nflx	1	663.84-->
<!--AAME	1	3.82-->
<!--AAPL	1	160.24-->
<!--ABEO	1	0.645-->